{% extends "base.html" %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/room/detail.css' %}">
{% endblock %}

{% block content %}
        <section class="room-detail-hero">
            <h1 class="room-title">{{ room.type }}</h1>
        </section>
        <section class="room-detail-main">
            <div class="room-detail-card">
                <div class="room-detail-info">
                    <div class="room-detail-price">${{ room.price }} <span class="per-night">/ night</span></div>
                    <div class="room-detail-occupancy">Max Occupancy: <strong>{{ room.max_occupancy }}</strong></div>
                </div>
                <div class="room-detail-gallery">
                    {% for image in images %}
                        <img src="{{ image.image_url }}" alt="Room Image" class="room-detail-image">
                    {% empty %}
                        <p>No images available.</p>
                    {% endfor %}
                </div>
                <a href="{% url 'booking-create-for-room' room.id %}" class="btn submit room-detail-cta">Book this room</a>
            </div>
        </section>
{% endblock %}